<!DOCTYPE html>
<html>
<head></head>
<body>
	
<form> 
<h4>Your ticket is raised successfully <br> Ticket Details:</h4>
<table border=1>
 <tr>
		<th><font >PARTICULARS</font></th>
		 <th><font>DETAILS</font></th>
 </tr>
		
  <tr>
	<td>Name</td>
	<td>value1</td>
  </tr>
  
  <tr>
	<td>Ticket ID</td>
	<td>value2</td>
  </tr>

  <tr>
	<td>Mobile No.</td>
	<td>value3</td>
  </tr>
  
  
  <tr>
	<td>Email ID</td>
	<td>value4</td>
  </tr>
  
  <tr>
	<td>Title</td>
	<td>value5</td>
  </tr>
  
  <tr>
	<td>Description</td>
	<td>value6</td>
  </tr>
  
  <tr>
	<td>Date and Time</td>
	<td>value7</td>
  </tr>
  
  
</table> 

 	</form><br><br>
	<p><b>Thanks,</b><br>
	<b>CUSTOMER SERVICE PORTAL</b> </p>
</body>
</html>